<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <ul class="demo-list-two demo-list mdl-list">
    {{#each model as |item| }}
      <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">person</i>
          <span>{{item.name}} 
          {{#if item.online}}
            <img src="online.png" class="user_online">
          {{/if}}
          </span>
          <span class="mdl-list__item-sub-title">Total:{{item.total_game}} | Draw: {{item.total_draw}} | Win: {{item.total_win}}</span>
        </span>
        <span class="mdl-list__item-secondary-content">
          <button {{action 'createGame' item}} disabled={{ unless item.online true}} class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent pull-right margin-left">
            Start game
          </button>
        </span>
      </li>
    {{/each}}
  </ul>
</div>